.contact {
  margin: var(--size-8) auto;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  max-width: 50rem;
  padding: var(--size-4);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px !important; 
   font-size: var(--size-6);
}
@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");

.contact h1 {
  font-family: "Special Elite";
  font-size: var(--size-6);
  margin: var(--size-4) 0;
  text-align: left;
}

.form label {
  font-family: "Special Elite";
  display: block;
  font-weight: bold;
  margin: var(--size-2) 0 var(--size-1) 0;
}

.form input,
.form textarea {
  font: inherit;
  padding: var(--size-1);
  border-radius: 4px;
  width: 100%;
  border: 1px solid var(--color-grey-400);
  resize: none;
  font-family: "Special Elite";
  padding: 10px;
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: black;
  border: 1px solid var(--color-primary-700);
  padding: var(--size-2) var(--size-4);
  border-radius: 10px;
  color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  font-family: "Special Elite";
  transition: all 0.3s ease-in;
}

.form button:hover {
  transition: 0.2s;
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .contact h1 {
    font-size: var(--size-16);
    text-align: center;
  }
}
